@use '../variables' as *;
@use '../font' as *;
@use '../mixins' as *;

.main {
  @include flex-box($align-items: flex-start);
}

.checkListDetailWrap {
  @include flex-box(
    $direction: column,
    $justify-content: flex-start,
    $gap: 24px
  );
  width: 1200px;
  height: 100%;
  background-color: #ffffff;

  @include for-tablet-devices {
    width: 744px;
    padding: 24px;
  }

  @include for-mobile-devices {
    width: 375px;
    padding: 16px;
  }
}
