@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HS-Regular';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

//Size
$small-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 20px;

//Weight
$light-font-weight: 400;
$normal-font-weight: 800;
$bold-font-weight: 700;
$bolder-font-weight: 800;
