//breakpoints
$xs: 480px; //for smaller smartphones
$sm: 640px; //for medium smartphones
$lg: 1024px; //for tablets
$xl: 1280px; //for desktops

@mixin for-xl-devices {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin for-large-devices {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin for-tablet-devices {
  @media (max-width: $md) {
    @content;
  }
}

@mixin for-mobile-devices {
  @media only screen and (max-width: $sm) and (orientation: portrait) {
    @content;
  }
}

@mixin flex-box($direction: row, $align-items: center, $justify-content: center, $gap: 0px) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin show {
  display: block;
  opacity: 1;
}

@mixin hide {
  display: none;
  opacity: 0;
}

@mixin round-border($color: $slate-900) {
  border: solid 2px $color;
  border-radius: 24px;
}

@mixin shadow($width, $height) {
  position: absolute;
  top: 3.5px;
  left: 4.06px;
  width: $width;
  height: $height;
  border: solid 2px $slate-900;
  border-radius: 24px;
  background-color: $slate-900;
}
