// colors
$slate-900: #0f172a;
$slate-800: #1e293b;
$slate-500: #64748b;
$slate-400: #94a3b8;
$slate-300: #cbd5e1;
$slate-200: #e2e8f0;
$slate-100: #f1f5f9;
$slate-50: #F8FAFC;

$violet-600: #7c3aed;
$violet-200: #ddd6fe;
$violet-100: #ede9fe;

$rose-500: #f43f5e;
$lime-300: #bef264;
$green-700: #15803d;
$amber-300: #fcd34d;
$amber-800: #92400e;

$gray-50: #f9fafb;
$solid-900:#0F172A;