@import './variables';
@import './font';
@import './mixins';

.buttonWrapper {
  position: relative;
}

.buttonShadow {
  @include shadow($width: 164.35px, $height: 52px);

  @include for-mobile-devices {
    @include shadow($width: 54.78px, $height: 52px);
  }
}

.button {
  @include flex-box($gap: 4px);
  position: relative;
  width: 164.35px;
  height: 52px;
  @include round-border;
  font-family: 'NanumSquare', sans-serif;
  color: $slate-500;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  cursor: pointer;

  span {
    @include for-mobile-devices {
      display: none;
    }
  }

  @include for-tablet-devices {
    width: 162px;
  }

  @include for-mobile-devices {
    width: 54.78px;
    height: 52px;
  }
}
