@use './variables' as *;
@use './font' as *;
@use './mixins' as *;

.buttonWrapper {
  position: relative;
}

.buttonShadow {
  @include shadow($width: 164.35px, $height: 52px, $top: 4px, $left: 3.65px);
}

.button {
  @include flex-box($gap: 4px);
  position: relative;
  width: 164.35px;
  height: 52px;
  @include round-border;
  font-family: 'NanumSquare', sans-serif;
  color: $slate-500;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  cursor: pointer;

  @include for-tablet-devices {
    width: 162px;
  }
}

.hideLabel {
  button {
    @include for-mobile-devices {
      width: 54.78px !important;
      height: 52px;
    }
  }

  .buttonShadow {
    @include for-mobile-devices {
      width: 54.78px;
    }
  }

  span {
    @include for-mobile-devices {
       @include hide;
    }
  }
}
