@use './variables' as *;
@use './font' as *;
@use './mixins' as *;

.list {
  @include flex-box($direction: column, $gap: 16px);
  width: 588px;

  @include for-tablet-devices {
    width: 696px;
  }

  @include for-mobile-devices {
    width: 344px;
  }
}

.tag {
  @include flex-box;
  align-self: flex-start;
  width: 101px;
  height: 36px;
  border-radius: 23px;
  line-height: 25.2px;
  font-family: 'HS-Regular';
  font-size: $medium-font-size;
  font-weight: $light-font-weight;
}

.todo {
  color: $green-700;
  background-color: $lime-300;
}

.emptyMessage {
  text-align: center;
  color: $slate-400;
  font-size: $small-font-size;
}

.done {
  color: $amber-300;
  background-color: $green-700;
}
