@import './mixins';

.navbar {
  width: 100%;
}

.pcLogo {
  @include for-mobile-devices {
    @include hide;
  }

  margin-left: 24px;
}

.mobileLogo {
  @include hide;

  @include for-mobile-devices {
    @include show;
    margin-left: 16px;
  }
}
