@use './mixins' as *;

.navbar {
  width: 100%;
}

.pcLogo {
  margin-left: 24px;

  @include for-mobile-devices {
    @include hide;
  }
}

.mobileLogo {
  @include hide;

  @include for-mobile-devices {
    @include show;
    margin-left: 16px;
  }
}
