@use './mixins' as *;

.wrap {
  @include flex-box($direction: column, $gap: 16px);
  width: 588px;

  @include for-tablet-devices {
    width: 696px;
  }

  @include for-mobile-devices {
    width: 344px;
  }

  z-index: 1;
}

.tag {
  width: 101px;
  height: 36px;

  @include skeleton;
}

.skeleton {
  width: 588px;
  height: 50px;

  @include skeleton;

  @include for-tablet-devices {
    width: 696px;
  }

  @include for-mobile-devices {
    width: 344px;
  }
}
