@import './variables';
@import './font';
@import './mixins';

.todo {
  @include flex-box($gap: 16px, $justify-content: flex-start);
  width: 588px;
  height: 50px;
  padding: 10px;
  @include round-border;
  line-height: 18.16px;
  text-align: center;

  @include for-tablet-devices {
    width: 696px;
  }

  @include for-mobile-devices {
    width: 344px;
  }
}

.checkboxBtn {
  width: 32px;
  height: 32px;
  border: none;
  background: url('../../public/checkbox/inactive-checkbox.png') center /
    contain no-repeat;
  cursor: pointer;
}

.active {
  background-color: $violet-200;
  text-decoration: line-through;

  button {
    background: url('../../public/checkbox/active-checkbox.png') center /
      contain no-repeat;
  }
}

.editMode {
  width: 996px;
  justify-content: center;
  text-decoration: underline;

  @include for-tablet-devices {
    width: 100%;
  }

  @include for-mobile-devices {
    width: 100%;
  }
}

.input {
  width: 150px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: $large-font-size;
}
